body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

#logo{
    padding:50px;
    width:100px;
}

.side-panel {
    width: 200px;
    background-color: #F5E7B2;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

    .side-panel a {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        text-align: center;
        background-color: #E0A75E;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

.side-panel a:hover {
    background-color: #973131;
    color: black;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #F5E7B2;
    color: #973131;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: #973131;
}
.bottom-bar {
    background-color: #F5E7B2;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
}

.content-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}
#userDetailsPanel {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    color: #973131;
}
    #userDetailsPanel button {
        width: 100px;
        margin: 5px;
        background-color: #E0A75E;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color:#fff;
        padding:5px;
    }