################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intrapro/.vs/Intrapro/FileContentIndex
/Intrapro/Intrapro/bin
/Intrapro/Intrapro/obj/Debug
/Intrapro/.vs/Intrapro/v16
/Intrapro/.vs/Intrapro/FileContentIndex/afad4fcf-30b0-44f9-9d13-6bc81711563a.vsidx
/Intrapro/.vs/Intrapro/v17/.suo
/Intrapro/Intrapro/obj/Debug/Intrapro.csproj.AssemblyReference.cache
/Intrapro/Intrapro/obj/Debug/build.force
/Intrapro/Intrapro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
