
@{
    ViewBag.Title = "Doc";
}
<link rel="stylesheet" href="~/Content/css/SubLayout.css">
<h2>Doc</h2>
<div class="button-panel">
    <a href="#" class="button">
        <i class="fa fa-download"></i> Receiving
    </a>
    <a href="#" class="button">
        <i class="fa fa-upload"></i> Issuing
    </a>
</div>