<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/css/MainLayout.css">
</head>
<body>
    
    <div class="container">
        <div class="side-panel">
            <img src="~/Content/images/logo.png" id="logo"/>
            <a href="#link1">Link 1</a>
            <a href="#link2">Link 2</a>
            <a href="#link3">Link 3</a>
        </div>
        <div class="main-content">
            <div class="top-bar">
                <div><h2 style="padding: 0; margin: 0">Intrapro</h2></div>
                <div>TH-TTT</div>
                <div>G.D.L.Sandaruwan-Admin</div>
            </div>
            <div class="content-area">
                @RenderBody()
            </div>
            <div class="bottom-bar">
                &copy; @DateTime.Now.Year - Intrapro
            </div>
        </div>
    </div>
    
</body>
</html>
