
@{
    ViewBag.Title = "Security";
}
<link rel="stylesheet" href="~/Content/css/SubLayout.css">
<h2>Security</h2>
<div class="button-panel">
    <a href="#" class="button">
        <i class="fa fa-level-down"></i> Gate In
    </a>
    <a href="#" class="button">
        <i class="fa fa-level-up"></i> Gate Out
    </a>
</div>