
@{
    ViewBag.Title = "Master";
}
<link rel="stylesheet" href="~/Content/css/SubLayout.css">
<h2>Master</h2>
<div class="button-panel">
    <a href="#" class="button">
        <i class="fa fa-car"></i> Vehicle
    </a>
    <a href="#" class="button">
        <i class="fa fa-truck"></i> Vehicle Type
    </a>
    <a href="#" class="button">
        <i class="fa fa-cube"></i> Items
    </a>
</div>